
body {
  background-color: black;
  color: white;
  font-size: 100%;
}

.quote-box {
  background-color: white;
  color: black;
  position: relative;
  width: 400px;
  padding: 30px;
  border-radius: 5px;
  margin: 10% auto;
  display: table;
}

.quote {
  font-size: 120%;
}

.author {
  text-align: right;
  margin: 20px 10px 20px 10px;
}

#new-quote {
  float: right;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 110%;
}
