* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: black;
  color: white;
  font-size: 100%;
  font-weight: 400;  
  font-family: "Raleway", sans-serif;
}

.quote-box {
  background-color: white;
  position: relative;
  width: 400px;
  padding: 30px;
  border-radius: 5px;
  margin: 10% auto;
  display: table;
}

.quote-box .author {
  text-align: right;
  font-size: 100%;
  margin: 20px 10px 20px 10px;
}

.quote-box .buttons {
  width: 450px;
  margin: auto;
  display: block;
}

.quote-box .quote {
  height: auto;
  text-align: center;
  font-weight: 500;
  font-size: 175%;
}

.quote-box .buttons .button {
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  padding: 8px 18px 6px 18px;
  font-size: 85%;
  opacity: 1;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
  height: 38px;
  border: none;
}

.quote-box .buttons .button#new-quote {
  float: right;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 110%;
}

.quote-box .buttons .button:hover {
  opacity: 0.9;
}

.quote-box .buttons .button#tweet-quote, .quote-box .buttons .button#tumblr-quote {
  float: left;
  font-size: 100%;
  text-align: center;
  margin-right: 5px;
  padding: 0px;
  padding-top: 8px;
  height: 30px;
  width: 40px;
}
